* {
    margin: 0;
    padding: 0;
}

header, main, footer, nav, aside, section, div  {
    display: block;
}

.gruppo-regular {
    font-family: "Gruppo", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
body {
    background-color: #ffffff;
}

header {
    height: 128px;
    background-color: white;
    padding-top: 1px;
    display: flex;
}

.wrapper {
    margin: 0px, auto;
    width: 1200px;
}

a {
    text-decoration: none;
}

/* header */

#logo {
    display: block;
    background: url("../images/ring-logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin-top: 32px;
    margin-left: 32px;
}

#logoWord {
    display: block;
    color: #3E3F43;
    font-family: Gruppo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    width: 191px;
    height: 33px;
    padding-top: 53px;
}

nav {
    margin-top: 51px;
}

#nav-bar {
    display: flex;
    list-style-type: none;
}

nav a {
    display: inline-block;
    color: #612999;
    font-family: Gruppo;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 62px;
}

nav a:hover {
    color: #a87fd1;
}

#Home1 {
    margin-left: 132px;
    font-weight: 700;
}

#Home2 {
    margin-left: 132px;
}

#Our-jewelry {
    font-weight: 700;
}

/* main-section cover photo */

main {
    display: flex;
    width: 100%;
    height: 797;
    background-image: url(../images/coverPhoto.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
    
}

#cover-photo-section h1{
    position: absolute;
    align-items: center;
    top: 160px;
    left: 32px;
    width: 448px;
    height: 120px;
    color: #612999;
    font-family: Gruppo;
    font-size: 96px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

#cover-photo-section p{
    position: absolute;
    top: 281px;
    left: 32px;
    width: 448px;
    height: 99px;
    color: #000;
    font-family: Gruppo;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* main- section paragraphs */

#paragraphs-section {
    margin-top: 829px;
    margin-left: 32px;
}

#paragraphs-section h2 {
    color: #612999;
    font-family: Gruppo;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
    width: 136.443px;
    height: 40px;
    flex-shrink: 0;
    margin-bottom: 32px;
}

#paragraphs-section p {
    color: #000;
    text-align: justify;
    font-family: Gruppo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140.625%; /* 28.125px */
    width: 1136px;
    height: 85px;
    flex-shrink: 0;
    margin-bottom: 24px;
}

/* main- section cards */

#cards-section {
    /* background-color: #3E3F43; */
    display: flex;
    margin-top: 39px;
    margin-left: 32px;
}

#cards-section h2 {
    color: #612999;
    font-family: Gruppo;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 100% */
}

/* footer */

footer{
    background-color: #EFECFF;
    height: 287px;
    margin-top: 2585px;
    display: flex;
}

#footer-links-section h2 {
    color: #333;
    font-family: Gruppo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    text-transform: uppercase;
}

#footer-social-links-section h2 {
    color: #333;
    font-family: Gruppo;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
    text-transform: uppercase;
}

#footer-links-section {
    padding-left: 32px;
    padding-top: 32px;
    margin-bottom: 24px;
    height: 122px;
}

#footer-links-section ul {
    list-style: none;
}

#footer-links-section ul li{
    height: 22px;
    margin-bottom: 8px;
}

#footer-links-section a {
    color: #333;
    font-family: Gruppo;
    font-family: Gruppo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#footer-links-section ul li:first-child {
    margin-top: 16px;
}

#footer-social-links-section {
    padding-left: 150px;
    padding-top: 32px;
}

#footer-social-links-section ul {
    list-style: none;
}

#footer-social-links-section ul li {
    height: 22px;
    margin-bottom: 8px;
}

#footer-social-links-section ul li:first-child {
    margin-top: 16px;
}

#footer-social-links-section a{
    color: #333;
    font-family: Gruppo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#footer-social-icons-section {
    display: block;
    margin-top: 182px;
    padding-left: 32px;
    position: absolute;
}

#footer-social-icons-section a{
    padding-right: 24px;
}

#footer-social-icons-section p{
    padding-top: 16px;
    color: #333;
    font-family: Gruppo;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

